extends baseEmail

block content
  p Dear #{firstName},
  p Thank you for submitting your loan request with MICRO FINANCE INDIA. We are pleased to confirm that we have received your application and it is currently under review.
  p 
    strong Application ID: 
    | #{applicationID}
  p Loan Type: #{loanType}
  p Requested Amount: #{loanAmount}
  p Tenure: #{tenure}
  p Our team is working diligently to process your application and we aim to complete the review within 5-7 business days. You will receive an email notification once your application status updates.
  p In the meantime, you can check the status of your loan application or manage your account by visiting your dashboard through the following link: [Link to user dashboard or application status page]
  p Should you have any questions or require further assistance, please do not hesitate to contact our customer support team at [Support Email] or [Support Phone Number]. We are here to help!
  p Thank you for choosing MICRO FINANCE INDIA for your financial needs
  p Warm regards,<br/>Team MICRO FINANCE INDIA
